/*用户注册样式*/
	.page2 .box{
		border: none;
		width:1517px;
		margin: 0 auto;
		margin-top:0px;
		height:1500px;
		background: #f0f4f5;
		padding-top: 25px;
		
	}
	.page2 .box .Registerfrom{
		width:750px;
		height: 800px;
		background-color: #fff;
		border-radius: 6px;
		padding-bottom: 50px;
		margin: 0 auto;		
	}
	.page2 .box  .title{
		height:48px;
		border: 1px solid #ededed;
		background-color: #f5f5f5;
		line-height: 48px;
	}
	.page2 .box .titlebox{
		width: 96%;
		margin: 0 auto;
	}
	.page2 .box .Registerbox{
		border: none;
		text-align: center;
		height: 500px;
	}
	.page2 .box .Registerinfo{
		margin-top: 80px;		
	}
	.page2 .box .Registerinfo .row{
		height:50px;
		margin-top: 25px;
			
	}
	.page2 .box .Registerinfo label{
		display: inline-block;
		width: 70px;
		text-align: right;		
	}	
	.page2 .box .Registerinfo input{
		display: inline-block;
		margin: 0 10px;
	}
	.page2 .box .Registerinfo span{
		width: 140px;
		display: inline-block;
		text-align: center;
		color: #999;
	}
	
	/*.page2 .box .Registerinfo span .error{
		color: red;
	}
	.page2 .box .Registerinfo span .success{
		color:green;
	}
	*/
	.page2 .box .Registerinfo  .Registertext{
		width: 258px;
		height: 38px;
		border: 1px solid #ededed;
		text-indent: 0.5em;
		display: inline-block;
		border-radius: 4px;		
	}
	.page2 .box .Registerfrom button{
		width: 76px;
		height: 32px;
		background-color: #ff690f;
		border: none;
		border-radius:2px ;
		font-size: 14px;
		color: #FFFFFF;	
		margin-top: 50px;
		margin-right: 50px;
	}