/*滚动样式*/
.background{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	z-index: 1;
}
.background img{
	width: 100%;	
}
/*滚动样式*/



/*主页样式*/
.mainbox{
	height:610px;
}
.box{
	position: relative;
	border: 1px solid red;
	width: 444px;
	height: 250px;
	margin-top:-72px;
	margin-left: 158px;
	display: inline-block;
	z-index: 2;		
}
.box .searchbox{
	height: 67px;
	background-color: rgb(255,105,15);
}
.box .searchbox img{
	padding: 16px 0 16px 16px;
}
.box .searchbox a{
	position: relative;
    top: -30px;
    left: 40px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 20px;
}
.box .searchmiddle .input{	
	width: 410px;
	height:114px;
	margin: 16px auto 8px;
	border-radius: 2px;
	border: 1px solid rgba(151,151,151,0.5);	
}
.box .searchmiddle .input.enter{
	width: 402px;
	height: 102px;
	resize: none;
	margin: 5px 0 0 5px;
	border: none;
	overflow: auto;
	
}
.box .searchmiddle .track{
	position: absolute;
	width: 76px;
	height: 32px;
	background-color: #ff690f;
	bottom: 55px;
	right: 25px;
	border: none;
	border-radius:2px ;
	font-size: 14px;
	color: #FFFFFF;	
}
.box .searchmiddle .track:hover{
	color: #000000;
}
.box .searchmiddle span{
	font-size: 12px;
	font-family: "microsoft yahei"a;
	font-weight: 400;
	color: rgba(74,144,226,1);
	line-height: 14px;
	padding-left: 16px;
	margin-bottom: 8px;
	display: inline-block;	
}

/*主页样式*/

/*底部样式*/
.pagefoot{
	overflow: hidden;
	height:300px;
	/*margin-top: 500px;*/
	background-color: rgba(64, 63, 63);
	font-size: 16px;
	color: #FFFFFF;
	/*border-top: 3px solid  rgba(255, 105, 15);*/
	box-shadow: 6px 3px 28px rgba(255, 105, 15);
}
hr{
	line-height: 40px;
}
.pagefoot .nav {
	padding-top: 40px;
	border-bottom: 1px solid rgba(102, 102, 102);
}
.pagefoot .nav .gt{
	width: 240px;
	height: 150px;
	padding-top: 50px;
	float: right;
	text-align: center;	
}
.pagefoot .nav .gt img:hover{
	background-image: url(../img/区块链log2.png);
}
.pagefoot .nav .lt{
	width: 964px;
	padding-top: 40px;
	float: left;
		
}
.pagefoot .nav .lt dl{
	width:238px;
	height: 150px;
	float: left;
	color: #757575;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	
}
.pagefoot .nav .lt dt{
	color: #F0F4F5;
	font-size: 20px;
	line-height: 40px;
}
.pagefoot .nav .lt dd{
	line-height: 30px;
	
}
.pagefoot .nav .lt dd:hover{
	color: #ff6700;
}
.pagefoot .nav gt{
	width:240px;
	float: right;
	text-align: center;
}
.pagefoot .bot  {
      width: 1200px;
      height: 100px;
      border-top: 1px solid rgba(102, 102, 102);
      margin: 200px auto;
      text-align: center;
      color: rgba(153, 153, 153);
      font-size: 14px;
}
.pagefoot .bot .last{
	margin-top: 30px;
}




























/*底部样式*/





